In [1]:
#import library for use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#import dataframe
train_label=pd.read_csv('train_label.csv')
train_base=pd.read_csv('train_base.csv')
train_op=pd.read_csv('train_op.csv')
train_trans=pd.read_csv('train_trans.csv')

# part1: EDA
## get basic data information and distribution

In [9]:
#first checking the type then the missing value
train_label.info()
train_base.info()
train_op.info()
train_trans.info()
train_label.head()
train_base.head()
#train_op.head()
#train_trans.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47782 entries, 0 to 47781
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    47782 non-null  object
 1   label   47782 non-null  int64
dtypes: int64(1), object(1)
memory usage: 746.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47782 entries, 0 to 47781
Data columns (total 46 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user               47782 non-null  object
 1   sex                47568 non-null  object
 2   age                47782 non-null  int64
 3   provider           47782 non-null  object
 4   level              47782 non-null  object
 5   verified           47782 non-null  object
 6   using_time         47782 non-null  int64
 7   regist_type        47782 non-null  object
 8   card_a_cnt         47782 non-null  int64
 9   card_b_cnt         47782 non-null  int64
 10  card_c_cnt         47782 non-null  int64
 11  agreement1         47782 non-null  object
 12  op1_cnt            47782 non-null  int64
 13  op2_cnt            47782 non-null  int64
 14  card_d_cnt         47782 non-null  int64
 15  agreement_total    47782 non-null  int64
 16  service1_cnt       47782 non-null  int64
 17  service1_amt       47782 non-null  int64
 18  service2_cnt       47782 non-null  int64
 19  agreement2         47782 non-null  object
 20  agreement3         47782 non-null  object
 21  agreement4         47782 non-null  object
 22  acc_count          47782 non-null  int64
 23  login_cnt_period1  47782 non-null  int64
 24  login_cnt_period2  47782 non-null  int64
 25  ip_cnt             47782 non-null  int64
 26  login_cnt_avg      47782 non-null  int64
 27  login_days_cnt     47782 non-null  int64
 28  province           47782 non-null  object
 29  city               47782 non-null  object
 30  balance            47782 non-null  object
 31  balance_avg        47488 non-null  object
 32  balance1           47782 non-null  object
 33  balance1_avg       47488 non-null  object
 34  balance2           47782 non-null  object
 35  balance2_avg       47782 non-null  object
 36  service3           47782 non-null  object
 37  service3_level     3933 non-null   object
 38  product1_amount    47782 non-null  object
 39  product2_amount    47782 non-null  object
 40  product3_amount    47782 non-null  object
 41  product4_amount    47782 non-null  object
 42  product5_amount    47782 non-null  object
 43  product6_amount    47782 non-null  object
 44  product7_cnt       47782 non-null  int64
 45  product7_fail_cnt  47782 non-null  int64
dtypes: int64(20), object(26)
memory usage: 16.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2774988 entries, 0 to 2774987
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   user       object
 1   op_type    object
 2   op_mode    object
 3   op_device  object
 4   ip         object
 5   net_type   object
 6   channel    object
 7   ip_3       object
 8   tm_diff    object
dtypes: object(9)
memory usage: 190.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591266 entries, 0 to 591265
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user        591266 non-null  object
 1   platform    591266 non-null  object
 2   tunnel_in   435367 non-null  object
 3   tunnel_out  590750 non-null  object
 4   amount      591266 non-null  int64
 5   type1       591266 non-null  object
 6   ip          246341 non-null  object
 7   type2       429468 non-null  object
 8   ip_3        246341 non-null  object
 9   tm_diff     591266 non-null  object
dtypes: int64(1), object(9)
memory usage: 45.1+ MB

,user,sex,age,provider,level,verified,using_time,regist_type,card_a_cnt,card_b_cnt,...,service3,service3_level,product1_amount,product2_amount,product3_amount,product4_amount,product5_amount,product6_amount,product7_cnt,product7_fail_cnt
0,Train_06800,category 1,24877,category 0,category 2,category 0,24728,category 1,24712,24712,...,category 0,NaN,level 1,level 1,level 1,level 0,level 0,level 1,24706,24706
1,Train_23487,category 1,24895,category 0,category 2,category 0,24719,category 1,24719,24719,...,category 0,NaN,level 1,level 1,level 1,level 0,level 0,level 1,24712,24706
2,Train_36880,category 0,24853,category 0,category 2,category 0,24723,category 1,24719,24719,...,category 0,NaN,level 1,level 1,level 1,level 0,level 0,level 1,24712,24706
3,Train_35392,category 0,24938,category 1,category 1,category 0,24707,category 3,24712,24712,...,category 0,NaN,level 1,level 1,level 1,level 0,level 0,level 1,24712,24706
4,Train_35057,category 0,24956,category 0,category 2,category 0,24728,category 2,24719,24712,...,category 0,NaN,level 2,level 8,level 1,level 0,level 0,level 1,24712,24706

In [14]:
#check the missing data first and find reason why
train_base.isna().sum()

user                     0
sex                    214
age                      0
provider                 0
level                    0
verified                 0
using_time               0
regist_type              0
card_a_cnt               0
card_b_cnt               0
card_c_cnt               0
agreement1               0
op1_cnt                  0
op2_cnt                  0
card_d_cnt               0
agreement_total          0
service1_cnt             0
service1_amt             0
service2_cnt             0
agreement2               0
agreement3               0
agreement4               0
acc_count                0
login_cnt_period1        0
login_cnt_period2        0
ip_cnt                   0
login_cnt_avg            0
login_days_cnt           0
province                 0
city                     0
balance                  0
balance_avg            294
balance1                 0
balance1_avg           294
balance2                 0
balance2_avg             0
service3                 0
service3_level       43849
product1_amount          0
product2_amount          0
product3_amount          0
product4_amount          0
product5_amount          0
product6_amount          0
product7_cnt             0
product7_fail_cnt        0
dtype: int64

In [21]:
#assume the missing of balance_average is caused by balance1_average
train_base[pd.isnull(train_base['balance_avg'])]['balance1_avg'].value_counts()
train_base['sex'].value_counts()
#got the proportion, but no relationship informed about filling missing data, deal with no information

category 0    36780
category 1    10788
Name: sex, dtype: int64

In [27]:
#the missing data of service3_level is massive and all of them belongs to service category0
#based on the original proportion,category0 lead to the missing of service3_level
service=['service3','service3_level']
service_pro=train_base[pd.isnull(train_base['service3_level'])][service]
service_pro['service3'].value_counts()
train_base['service3'].value_counts()
train_base['service3_level'].value_counts()

category 0    1854
category 1     881
category 2     840
category 3     358
Name: service3_level, dtype: int64

In [28]:
train_base['balance1_avg'].value_counts()
#due to proportion, may fill the blank with level 1, still need to decode the calculation process of balance avg

level 1     25394
level 21     1596
level 20     1260
level 19     1170
level 13     1166
level 18     1149
level 17     1145
level 16     1133
level 8      1115
level 11     1099
level 15     1096
level 10     1093
level 2      1068
level 12     1065
level 14     1054
level 3      1054
level 5       979
level 7       976
level 6       965
level 4       959
level 9       952
Name: balance1_avg, dtype: int64